*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body, html, #root{
    height: 100vh;
}

a, button{
    cursor: pointer;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #222222b0;
    color: #fff;
    border-radius: 6px;
    transition: .5s;
}

a:hover{
    background-color: #222222;
}

input{
    padding: 10px;
    outline: none;
    width: 100%;
    border: 1px solid #222;
    border-radius: 6px;
}